.number_container {
  background: #f2f8ff;
  width: 100%;
  display: flex;
}
.number_body {
  max-width: 826px;
  display: flex;
  gap: 82px;
  margin: 0 auto;
  padding: 0;
}
.number_body li {
  display: inline;
  max-width: 169px;
 
  margin: 30px 0px;
}

.number_body li td {
  display: flex;
  place-content: center;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}
.number_body li p {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #454f5b;
  margin: 16px 0px 0px 0px;
}
