.WhyChooseUs_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.WhyChooseUs_body {
  max-width: 1239px;
  width: 100%;
  display: flex;
  gap: 30px;
}
.WhyChooseUs_h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 80px 0px 20px 0px;
}
.WhyChooseUs_item {
  flex: 1;
  max-width: 393px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WhyChooseUs_item img {
  display: block;
  margin: 0 auto;
}

.WhyChooseUs_item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding: 0 30px;
}
